* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}
.top-section {
    background-color: #FFFFFF;
    padding: 20px;
}
.titulo h3 {
    text-align: center;
    font-size: 24px;
    color: #222;
}
.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding: 20px;
    gap: 20px;             
}

#produto {
    padding: 10px;
    border-radius: 5px;
    width: 200px;
}

#btn-cadastrar, #btn-apagar {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#lista-produtos {
    margin-top: 20px;
    list-style: none;
}

#lista-produtos li {
    display: flex;
    background-color: #eee;
    padding: 10px;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
   flex-wrap: 1;
}

#lista-produtos li button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}       
#lista-produtos li button:first-of-type {
    background-color: #4caf50;
    color: white;
}

#lista-produtos li button:last-of-type {
    background-color: #f44336;
    color: white;
}

.form-linha {
    display: flex;           
    gap: 10px;               
}